#################
## webstorm
#################
/app/.idea/

#################
## OSX
#################
.DS_Store

#################
## bower
#################
/bower_components/

#################
## node
#################
/app/node_modules/
/app/npm-debug.log
/tmp/
